body{
    background:black;
    font-style:normal;
}
.runningText{
    margin-left: 30%;
    margin-top: 20%;
}
.firstText{
    letter-spacing: 0.1rem;
    color: white;
    font-size:5rem;
    font-weight: bold;
}
#secondText{
    letter-spacing: 0.1rem;
    font-size: 5rem;
    color: blueviolet;
    font-weight: bold;
}
.line{
    font-size:5rem;
    font-weight: bold;
    color: rgb(201, 177, 223);
}
@media (min-width:300px) and (max-width:1200px){
    .runningText{
        margin-left: 0.5%;
        margin-top: 20%;
    }
    .firstText{
        font-size:1rem;
        font-weight: bold;
    }
    #secondText{
        font-size: 1rem;
    }
    .line{
        font-size:1rem;
    }    
}
